.programDescription {
  text-align: center;
}

.programLabel {
  font-weight: bold;
}

.modal-title {
  text-align: center;
}

.table > tbody > tr:nth-child(odd):hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.table > tbody > tr:nth-child(even):hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.edit-button {
  margin-right: 1px;
}

.outer-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dateInfo { width: 30em; max-width: 100%; }
.dateInfo p { display: inline-block; max-width: 50%; }
.dateInfo p:nth-child(1) { float:left; }
.dateInfo p:nth-child(2) { float:right; }


.radio {
  margin-left: 30px;
  margin-top: 20px;
  transform: scale(1.5);
}

.round-checkbox {
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid #000000;
  outline: none;
  transform: scale(1.5);
}
.btn-group {
  margin: 20px;
}

.selected {
  background-color: rgb(148, 57, 47); /* Adjust the styling as needed */
  color: white; /* Adjust text color if needed for better contrast */
}
